/* GENERALS */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

html{
    font-family: "Poppins", sans-serif
}
ul{
    list-style-type:none ;
}

.display-inline{
    display: inline;
}
.display-inline-block{
    display: inline-block;  
}

/* CARD */
.container{
    max-width: 800px;
    margin-top: 30px;
    background-color: white;
    
} 
/* HEADER */
header{
    font-size: 30px ;
    padding-left: 10px;
}
/* MAIN */
main{
    border: 500px,50px;
    background-color: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* NAV */
nav{
    padding: 10px 40px;
    border-bottom: 1.5px solid #F0F0F0;
}

button {
    border-radius: 6%;
    border-style: none;
    padding: 10px 20px;
}
.nav-blue-button{
    background-color:#47acf2 ;
    color: white;
}
.blue-button{
    background-color:#47acf2 ;
    color: white;
}


.white-button{
    background-color:white ;
    border: 1.5px solid lightgray;
    color:grey
}

/* tasks to do  */
.task-name{
    padding: 30px 40px;
}
.task-name h2{
    font-size: 25px;
}



/* MAIN */
h2{
    font-size: 20px;
    margin-bottom: 10px;
}

/* TICK or CROSS SYMBOL */
.done-symbol{
    color: #64c0a9;
    border: 2px solid ;
    border-radius: 50%;
    width: 24px;
    line-height: 20px;
    text-align: center;

}

.undone-symbol{
    color: red;
    border: 2px solid ;
    border-radius: 50%;
    width: 24px;
    line-height: 20px;
    text-align: center;
}

.vertical-align-middle {
 vertical-align: middle;
}

.tasks{
        font-weight:500 ;
        font-size: 20px;
}

.task-section{
    margin-bottom: 20px;
}

.button-task {
    padding: 5px 10px;
    border-radius: 19px 19px;
    color: white;
}
/* BLUE-BUTTON */
.blue-button{
    background-color: #47acf2;
}
/* PURPLE-BUTTON */
.purple-button{
    background-color: #9b72e5;
}
/* GREEN-BUTTON */
.green-button{
    background-color: #64c0a9;
}
/* ORANGE-BUTTON */
.orange-button{
    background-color: #f29d34;
}
/* VIOLET-BUTTON */
.violet-button{
    background-color: #d963a0;
}
/* LIGHTGREEN-BUTTON */
.lightgreen-button{
    background-color: #b0c925;
}




