/* GENERALS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

html{
    font-family: "Poppins", sans-serif
}
/* CARD */
.container{
    max-width: 800px;
    margin-top: 30px;
    background-color: white;
} 
/* HEADER */
header{
    vertical-align: middle;
    font-size: 30px ;
}
/* MAIN */
main{
    border: 500px,50px;
    background-color: #F0F0F0;
    padding-top: 20px;
}

.card{
   padding: 10px 40px
}
/* NAV */
button {
    padding: 6px 15px;
    border-radius: 6%;
    border-style: none;
}
.blue-button{
    background-color:#6495ED ;
    color: white;
}
.white-button{
    background-color:white ;
    border: 1.5px solid lightgray;
    color:grey
}
hr{
    border-top:#F0F0F0 ;
}

h1{
    font-size: 20px;
}